.myjournal_wrapper{
  display:flex;
  flex-direction: column;
  
  .title{
    
    font: size 36pt;
    font-family: 'Berkshire Swash', cursive;
    align-self: center;
  }

  .journal{
    
    align-self:center;
    width: 75%;
    
    
    
  }
}