.myjournal_wrapper{
  display:flex;
  flex-direction: column;
  margin:20px;
  
  .title{
    font: size 36pt;
    font-family: 'Berkshire Swash', cursive;
    text-decoration: underline;
    align-self: center;
  }

  .journal{   
    align-self:center;
    width: auto;
    .rdw-editor-main{
      background-color: white;
      height: 300px;
    }
  }
  
  .postButton{  
    justify-items: center;
    align-items: center;
    margin-top:10px;

    button {
        font-size: 16px;
        block-size: 30px;
        margin-bottom: 100px;
    }
    button:hover{
      cursor: pointer;
    }
  }

  .entries{
    background-color: white;
  }
}


